<font face="Nunito" size=5>Algorithmic Trading Strategy Using Three Moving Averages & Python
    </font>
    (YouTube)

Strategy:
The 3MS crossover strategy uses 3 moving averages
1. The short/fast MA
2. The middle/medium MA
3. The long/slow MA

Buy & Sell Signals:
There are two Buy/Sell Signals
1. BUY when the mid MA crosses above the long MA, *and* the short MA crosses above the mid MA.
  - implies SELL when the (first part is true) *and* the short MA crosses below the mid MA  
2. BUY when the mid MA crosses below the long MA, *and* the short MA crosses below the mid MA.
  - implies SELL when the (first part is true) *and* the short MA crosses above tge mid MA.

<font face="Nunito" size=4>...</font>

<font face="Nunito" size=4>Imports</font>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
%matplotlib inline

<font face="Nunito" size=4>Load Data into a DataFrame</font>

We will be using data for Tesla (TSLA), from 2019-11-18 to 2020-06-09 inclusive of start/end.

In [14]:
# parse_dates makes sure column 0 is trated as a date
# index_col sets the dates ad the index, instead of having the usual row numbering
# use_cols chooses specific colums fom  the csv instead of all of them:
# In this case we only need the Date and Close. Their indexes are index 0 and index 4.
    # Date, Open, High, Low, Close, Adj Close, Volume
df0 = pd.read_csv("data_files/TSLA.csv", parse_dates=[0],index_col=[0],usecols=[0,4])
df0

                 Close
Date
2019-11-18   69.998001
2019-11-19   71.903999
2019-11-20   70.444000
2019-11-21   70.966003
2019-11-22   66.608002
...                ...
2020-06-03  176.591995
2020-06-04  172.876007
2020-06-05  177.132004
2020-06-08  189.983994
2020-06-09  188.134003

[140 rows x 1 columns]

Store data into a variable